OAuth authorize form (login/oauth/authorize) Cancel is missing error and state parameter

### Description

If a user cancels an OAuth 2.0 Authorization Request the response is required to include an "error" parameter with value "access_denied" and the "state" parameter if a "state" parameter was present, see [RFC 6749 Section 4.1.2.1](https://www.rfc-editor.org/rfc/rfc6749.html#section-4.1.2)

Currently the user is sent back to the redirection_uri without any parameters. The OAuth 2.0 client can't detect that the authorization was canceled.

Gitea should inform the OAuth 2.0 client by adding the parameters to the query component as specified in RFC 6749 Section 4.1.2.1

Example: https://try.gitea.io/login/oauth/authorize?client_id=4119f58a-637a-44d4-bf3c-b8b5d61c0f47&redirect_uri=https%3A%2F%2Fexample.com&response_type=code&scope=openid%20profile%20read%3Auser&state=myState

### Gitea Version

1.21.2

### Can you reproduce the bug on the Gitea demo site?

Yes

### Log Gist

_No response_

### Screenshots

![image](https://github.com/go-gitea/gitea/assets/1028244/ee500770-0d2a-402b-9ca2-bfa75bd0b816)

Mouse is hoovering over cancel, link target is in bottom left corner.

### Git Version

_No response_

### Operating System

_No response_

### How are you running Gitea?

Reproducible on https://try.gitea.io/ 

### Database

None

This was fixed by #30974 (released in Gitea 1.23.0). Denying/cancelling an OAuth2 authorization request now redirects back to the redirect_uri with an `access_denied` error and the `state` parameter, as required by RFC 6749 §4.1.2.1. Closing as resolved.